<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-xs-12">
      <div class="well">
        <h1>Add a new Picture</h1>
        <hr class="feature-divider">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
